kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  platform:
    channels:
    - name: stable-4.18
      minVersion: "4.18.0"
      maxVersion: "4.18.10"
    - name: stable-4.19
      minVersion: "4.19.0"
      maxVersion: "4.19.5"
    graph: true
  operators:
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v4.18
    targetCatalog: my-redhat-catalog
    packages:
    - name: advanced-cluster-management
      channels:
      - name: release-2.8
        minVersion: "2.8.0"
        maxVersion: "2.8.0"
    - name: elasticsearch-operator
      channels:
      - name: stable-5.8
        minVersion: "5.8.0"
        maxVersion: "5.8.0"
    - name: kiali-ossm
      channels:
      - name: stable
        minVersion: "1.57.0"
        maxVersion: "1.57.0"
    - name: servicemeshoperator
      channels:
      - name: stable
        minVersion: "2.4.0"
        maxVersion: "2.4.0"
  - catalog: registry.redhat.io/redhat/certified-operator-index:v4.18
    targetCatalog: my-certified-catalog
    packages:
    - name: mongodb-enterprise
      channels:
      - name: stable-v1.20
        minVersion: "1.20.0"
        maxVersion: "1.20.0"
  - catalog: registry.redhat.io/redhat/community-operator-index:v4.18
    targetCatalog: my-community-catalog
    packages:
    - name: prometheus
      channels:
      - name: beta
        minVersion: "0.65.0"
        maxVersion: "0.65.0"
  additionalImages:
  - name: registry.redhat.io/ubi8/ubi:latest
  - name: registry.redhat.io/ubi9/ubi:latest
  - name: registry.redhat.io/openshift4/ose-cli:latest
  - name: registry.redhat.io/openshift4/ose-installer:latest
  helm:
    repositories:
    - name: redhat-helm-charts
      url: https://charts.openshift.io 